
/* 
.wrapper {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
} */

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}
.content_wrapper {
    min-height: 100vh;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* 데스크톱 */
@media (min-width: 768px) {
    .navbar .container-fluid, .navbar-expand-md .navbar-collapse, .navbar-expand-md .navbar-nav {
        flex-direction: column !important;
    }
    .navbar {
        width: 15rem;
        height: 100vh;
        position: fixed !important;
    }

    .logo_brand {
        height: 150px;
        padding-bottom: 0.5rem;
    }

    .logo img {
        height: 100px;
    }
}

/* 모바일 */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
    }
    
    .logo img {
        height: 40px;
    }

    ul.navbar-nav .nav-link {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}

.logo {
    width: 100%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
@media (min-width: 768px) {
    .content_main {
        margin-left: 15rem;
    }
    .bd-img {
        height: 20rem;
    }
}

.content_main .content_header {
    height: 70px;
}


.content_main .content_body {
    background-color: grey;
    /* height: 1500px; */
}

.content_main .content_footer {
    height: 110px;
}




/* ---------------------------------------------------
    TOGGLE STYLE
    DARK MODE
----------------------------------------------------- */
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}